<div class="container">
    <a href="/"><img src="/images/featured-404-error-image.png" class="img-fluid"></img></a>
</div>

{{!-- 
    <div class="jumbotron">
        <pre>{{error.stack}}</pre>
    </div> --}}